
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Leave Details</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">My Leaves</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                            HC
                                            HC
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
<?php
/*
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Leave Details
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#my_leave" data-toggle="tab">My Leaves</a>
                                </li>
                                <li><a href="#team_leave" data-toggle="tab">Team Leaves</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="my_leave">
                                    <?php echo $emp_leave_total_details ?>
                                    <?php echo $emp_leave_details ?>
                                </div>
                                <div class="tab-pane fade" id="team_leave">
                                    <?php echo $team_leave_details ?>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
*/
