
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Profile</h1>
            </div>
            <!-- /.col-lg-12 -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                    <div class="panel-heading">Basic Details</div>
                    <div class="panel-body">
                    <div class="row">
                    <div class="col-lg-12">
                    <form role="form">

                    <div class="form-group col-lg-6">
                        <label>Employee ID</label>
                        <input class="form-control" name="emp_id" ng-model="profile_data.emp_id" disabled>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Name</label>
                        <input class="form-control" name="name" ng-model="profile_data.name">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Middle Name</label>
                        <input class="form-control" name="middle_name" ng-model="profile_data.middle_name">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Surname</label>
                        <input class="form-control" name="surname" value="" ng-model="profile_data.surname">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Father Name</label>
                        <input class="form-control" name="father_name" value="" ng-model="profile_data.father_name">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Mother Name</label>
                        <input class="form-control" name="mother_name" value="" ng-model="profile_data.mother_name">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Date of Birth</label>
                        <input class="form-control" name="dob" value="" ng-model="profile_data.DOB">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Passing Year</label>
                        <input class="form-control" name="year_of_passing" value="" ng-model="profile_data.year_of_passing">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Sex</label>
                        <input class="form-control" name="sex" value="" ng-model="profile_data.sex">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Designation</label>
                        <input class="form-control" name="designation" value="" ng-model="profile_data.designation">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Client Name</label>
                        <input class="form-control" name="client_name" value="" ng-model="profile_data.client_name">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Passport No</label>
                        <input class="form-control" name="passport_no" value="" ng-model="profile_data.passport_no">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Blood Group</label>
                        <input class="form-control" name="blood_group" value="" ng-model="profile_data.blood_group">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Date of Joining</label>
                        <input class="form-control" name="doj" value="" ng-model="profile_data.doj" disabled>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Emergency Contact</label>
                        <input class="form-control" name="emergency_contact" value="" ng-model="profile_data.emergency_contact">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Secondary Contact</label>
                        <input class="form-control" name="secondary_contact" value="" ng-model="profile_data.secondary_contact">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Mobile</label>
                        <input class="form-control" name="mobile_2" value="" ng-model="profile_data.mobile_2">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Msys Email</label>
                        <input class="form-control" name="msys_email" value="" ng-model="profile_data.msys_email" disabled>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Tel No</label>
                        <input class="form-control" name="tel_no_" value="" ng-model="profile_data.tel_no_">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Mobile No</label>
                        <input class="form-control" name="mobile_no_" value="" ng-model="profile_data.mobile_no_">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Email ID</label>
                        <input class="form-control" name="email_id" value="" ng-model="profile_data.email_id">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Pan Number</label>
                        <input class="form-control" name="pan_number" value="" ng-model="profile_data.pan_number">
                    </div>

                    <div class="form-group col-lg-12">
                        <label>Temporary Address</label>
                        <input class="form-control" name="temp_address" value="" ng-model="profile_data.temp_address">
                    </div>
                    <div class="form-group col-lg-12">
                        <label>Permanent Address</label>
                        <input class="form-control" name="perm_address" value="" ng-model="profile_data.perm_address">
                    </div>
                    <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-default btn-primary" ng-click="saveprofile()">Submit Profile</button>
                    </div>
                    </form>
                    </div>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->