<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Qualification Details</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- /.row -->
	<div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Qualifications</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-11">
                                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#emp_qualification_model"><i class="fa fa-plus fa-fw"></i> Add New</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="modal fade" id="emp_qualification_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">Add New Qualifications</h4>
                                        </div>
                                        <form class="form-horizontal" role="form" name="qualification_form" id="qualification_form" >
                                            <div class="modal-body">
                                                <div class="form-group row">
                                                    <div class="col-sm-4"> 
                                                        <label>Course Type</label>
                                                    </div>
                                                    <div class="col-sm-7"> 
                                                        <select class="form-control" id="course_type" data-rule-required="true" data-msg-required="Please enter course type">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row"> 
                                                    <div class="col-sm-4">                                           
                                                        <label>Board Name</label>
                                                    </div>
                                                    <div class="col-sm-7">           
                                                        <input class="form-control" type="text" id="board_name" placeholder="University Name" data-rule-required="true" data-msg-required="Please enter board name">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-4">                                           
                                                        <label>Course Name</label>
                                                    </div>
                                                    <div class="col-sm-7">           
                                                        <input class="form-control" type="text" id="course_name" placeholder="Physics" data-rule-required="true" data-msg-required="Please enter course name">
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group row">
                                                    <div class="col-sm-4">
                                                        <label>Passing Year</label>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <input class="form-control" type="text" id="year_of_passing" placeholder="2008" data-rule-required="true" data-msg-required="Please enter year of passing">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-4">
                                                        <label>Grade</label>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <input class="form-control" type="text" id="grade" placeholder="A+" data-rule-required="true" data-msg-required="Please enter grade" >
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-4">                                           
                                                        <label>Total Mark</label>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label>Earned Mark</label>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label>Percentage</label>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-4">           
                                                        <input class="form-control" type="text" id="total_mark" ng-model="newqly.total_mark" placeholder="1200" data-rule-required="true" data-msg-required="Please enter total mark">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <input class="form-control" type="text" id="obtained_mark" ng-model="newqly.obtained_mark" placeholder="Your Mark" data-rule-required="true" data-msg-required="Please enter earned mark">
                                                   </div> 
                                                    <div class="col-sm-4">
                                                        <input class="form-control" type="text" id="percentage"  ng-model="newqly.percentage" disabled>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <label>Remarks</label>
                                                    
                                                        <textarea class="form-control" rows="3" id="remarks"  ng-model="newqly.remarks"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>    
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" id="save_emp_qualification" ng-click="saveqlfy()">Save changes</button>
                                        </div>
                                    </div> 
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <div class="col-lg-12">
                                <button ng-click="tableParams.reload()" class="btn btn-default">Reload</button>
                                <button ng-click="tableParams.sorting({})" class="btn btn-default">Clear sorting</button>
                                <div class="clearfix"></div>
                                <div loading-container="tableParams.settings().$loading">
                                    <table ng-table="tableParams" show-filter="true" class="table">
                                        <tbody>
                                            <tr ng-repeat="doc in $data">
                                                <td data-title="'Board Name'" sortable="board">
                                                {{doc.board}}
                                                </td>
                                                <td data-title="'Course Type'" sortable="type">
                                                {{doc.type}}
                                                </td>
                                                <td data-title="'Course name'" sortable="course_name">
                                                {{doc.course_name}}
                                                </td>
                                                <td data-title="'Total Mark'" sortable="total_mark">
                                                {{doc.total_mark}}
                                                </td>
                                                <td data-title="'Earned Mark'" sortable="obtained_mark">
                                                {{doc.obtained_mark}}
                                                </td>
                                                <td data-title="'Percentage'" sortable="percentage">
                                                {{doc.percentage}}
                                                </td>
                                                   <td data-title="'Passing Year'" sortable="year_of_passing">
                                                {{doc.year_of_passing}}
                                                </td>
                                                   <td data-title="'Grade'" sortable="grade">
                                                {{doc.grade}}
                                                </td>
                                                </td>
                                                   <td data-title="'Remarks'" sortable="remarks">
                                                {{doc.remarks}}
                                                </td>
                                                <td data-title="'Actions'" sortable="remarks" align="center" >
                                                    <div class="icon_actions">
                                                        <i class="fa  fa-pencil  fa-fw" title="Edit"></i>
                                                        <i class="fa  fa-trash-o  fa-fw" title="Delete"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
